<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ name}}</title>
  <link rel="stylesheet" href="/app.dist.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
  <style>
    body {
      width: 980px;
      margin: 0px auto;
    }

    code.sb-code-block {
      display: block;
      background: #F5F5F5;
      padding: 0px 10px;
    }

    .sb-text {
      font-family: sans-serif;
    }

    .sb-capitalize {
      text-transform: capitalize;
    }

    .sb-copy-btn {
      padding: 10px;
      cursor: pointer;
    }

    h1.sb-text {
      font-size: 36px;
      padding: 24px 0px;
    }

    h2.sb-text {
      font-size: 24px;
      padding-bottom: 10px;
    }

    p.sb-text {
      padding-bottom:  10px;
    }

    .sb-code-block {
      font-family: monospace;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <h1 class="sb-text">{{titleize name}}</h1>
  <p class="sb-text">{{ description }}</p>
    {{#each examples }}
    <div id="sb-component-{{ variant }}" class="sb-component">
      <h2 class="sb-text">
        {{#if variant}}
          <a href="#sb-component-{{ variant }}">.{{ variant }}</a></h2>
        {{/if}}
      </h2>
      {{{ code }}}
      <code class="sb-code-block">
        <pre id="sb-code-{{ variant }}">
          {{ code }}
        </pre>
        <button class="sb-copy-btn" id="sb-{{ variant }}-copy-btn" data-target="sb-code-{{ variant }}">COPY</button>
      </code>
      <hr>
    </div>
    <script>
      (function() {
       var client = new ZeroClipboard(document.getElementById('sb-{{ variant }}-copy-btn'));

        client.on( "ready", function( readyEvent ) {
          // alert( "ZeroClipboard SWF is ready!" );

          client.on( "copy", function( event ) {
            var clipboard = event.clipboardData,
                contents = document.getElementById(event.target.dataset.target)
                                   .innerHTML;
                
            // Replace html entities so that it will be copied as html onto the clipboard
            contents = contents.replace(/&amp;/g, '&')
                               .replace(/&lt;/g, '<')
                               .replace(/&gt;/g, '>')
                               .replace(/&quot;/g, '"');

            clipboard.setData("text/plain", contents);
            alert("Copied to clipboard");
          });
        });
      }());
    </script>
    {{/each}}
</body>
</html>
